table tbody td button{
    margin-left: 5px;
    margin-right: 5px;
    padding-top:2px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

a:hover{
    text-decoration: none;
    color: inherit;
    opacity: 0.8;
}

a{
    color: inherit;
}

table tbody td button:first-child{
    margin-left: 0px;    
}

.tab-pane p{
    word-break: break-word;
}

.tab-pane{
    padding-top: 14px;
}

.actions{
    margin-bottom: 14px;
}

.actions a{
    margin-right: 12px;
}

.actions svg{
    margin: 0 0 3px 3px;
}

.nav-item:hover{
    cursor: pointer;
}  

.nav-item a:hover{
    opacity: 1;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
}

.form-alert{
    margin-top: 14px;
}

.form-alert .alert{
    margin-bottom: 0px;
}

.form-alert ul{
    margin-bottom: 0px;
}

.date-range-wrapper{
    display: flex;
    margin-bottom: 14px;
}

.date-range-wrapper .date-picker{
    width: 15%;
}

.date-range-wrapper span{
    display: block;
}

.date-range-wrapper .date-picker:first-child{
    margin-right: 20px;
}

.attendance-filter{
    margin-bottom: 14px;
}